<style>
  footer {
    background-color: #f7f7f7;
    border-top: 1px solid #eaeaea;
    padding: 1rem 0;
    font-size: 0.9rem;
    color: #555;
    text-align: center;
  }

  .f-info-socials a {
    margin: 0 0.5rem;
    font-size: 1.2rem;
    color: #555;
    transition: color 0.2s ease-in-out;
  }
  .f-info-socials a:hover {
    color: #ff385c;
  }

  .f-info-links a {
    margin: 0 0.5rem;
    text-decoration: none;
    color: #555;
  }
  .f-info-links a:hover {
    color: #ff385c;
  }

  .f-info-copyright {
    margin-top: 0.5rem;
    color: #777;
  }
</style>

<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a href="#"><i class="fa-brands fa-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
      <a href="#"><i class="fa-brands fa-twitter"></i></a>
      <a href="#"><i class="fa-brands fa-linkedin"></i></a>
      <a href="#"><i class="fa-brands fa-github"></i></a>
    </div>

    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>

    <div class="f-info-copyright">
      &copy; 2025 Wanderlust Private Limited
    </div>
  </div>
</footer>
