<% layout("/layouts/boilerplate")%>
<div class="row mt-3">
    <div class="col-8 offset-2">
        <h3>Create a new Listing</h3>
        <form method="POST" action="/listings" novalidate class="needs-validation">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="listing[title]" placeholder="Add a catchy Title" required>
                    <div class="valid-feedback">Title Looks good!</div>
                        <div class="invalid-feedback">Please provide a valid Title.</div>
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" name="listing[description]"
                    placeholder="Enter the description" rows="3" required></textarea>
                    <div class="valid-feedback">Description Looks good!</div>
                        <div class="invalid-feedback">Please provide a valid Description.</div>
            </div>

            <div class="mb-3">
                <label for="image" class="form-label">Image URL</label>
                <input type="text" class="form-control" id="image" name="listing[image]"
                    placeholder="Enter image URL/Link">
            </div>

            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input type="text" class="form-control" id="price" name="listing[price]" placeholder="1500" required>
                            <div class="valid-feedback">Price Looks good!</div>
                                <div class="invalid-feedback">Please provide a valid Price.</div>
                </div>
    
                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" class="form-control" id="country" name="listing[country]"
                        placeholder="India" required>
                        <div class="valid-feedback">Country Looks good!</div>
                            <div class="invalid-feedback">Please provide a valid Country.</div>
                </div>
            </div>

            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" class="form-control" id="location" name="listing[location]"
                    placeholder="Delhi" required>
                    <div class="valid-feedback">Location Looks good!</div>
                        <div class="invalid-feedback">Please provide a valid Location.</div>
            </div>
            <button type="submit" class="btn btn-dark add-btn mt-3">Add</button>
            <br><br>
        </form>
    </div>
</div>