<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-6 offset-3">
        <h3 class="col-6 offset-3" >Sign Up</h3>
        <form method="POST" action="/signup" novalidate class="needs-validation">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username" required>
                <div class="valid-feedback">Username looks good</div>
                <div class="invalid-feedback">Please provide a valid username.</div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
                <div class="valid-feedback">Email looks good</div>
                <div class="invalid-feedback">Please provide a valid email.</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
                <div class="valid-feedback">Password looks good</div>
                <div class="invalid-feedback">Please provide a valid password.</div>
            </div>
            <button type="submit" class="btn btn-dark signup-btn mt-3">Sign Up</button>
        </form>
        <br><br>
    </div>
</div>
